{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
}
